<%- include ("../partials/header") %>
<section id="appointment" class="appointment section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Make an Appointment</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>

      <form action="/campgrounds" method="post" role="form" class="php-email-form">
        <div class="form-row">
          <div class="col-md-4 form-group">
            <input type="text" name="campground[name]" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group">
            <input type="email" class="form-control" name="campground[email]" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group">
            <input type="tel" class="form-control" name="campground[phone]" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 form-group">
            <input type="datetime-local" name="campground[date]" class="form-control datepicker" id="date" placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group">
            <select name="campground[slot]" id="department" class="form-control">
              <option value="">Select Department</option>
              <option value="Slot 1">slot 1</option>
              <option value="Slot 2">slot 2</option>
              <option value="Slot 3">slot 3</option>
              <option value="Slot 4">slot 4</option>
              <option value="Slot 5">slot 5</option>
              <option value="Slot 6">slot 6</option>
              <option value="Slot 7">slot 7</option>
              <option value="Slot 8">slot 8</option>
              <option value="Slot 9">slot 9</option>
              <option value="Slot 10">slot 10</option>
              <option value="Slot 11">slot 11</option>
              <option value="Slot 12">slot 12</option>
            </select>
            <div class="validate"></div>
          </div>
        </div>

        <div class="form-group">
          <textarea class="form-control" name="campground[description]" rows="5" placeholder="Message (Optional)"></textarea>
          <div class="validate"></div>
        </div>
        <div class="text-center"><button class="btn-info" type="submit">Make an Appointment</button></div>
      </form>

    </div>
  </section>
    <%- include("../partials/footer") %>
</div>
